<div class="code-quality-container">
  <%= link_to 'Re-run', dev_run_brakeman_html_report_path, class: 'code-quality-button' %>
  <iframe height="100%" id="brakeman-html-report" name="<%= Time.now %>" src="/reports/brakeman.html?pp=disable" width="100%"></iframe>
</div>