<div class="code-quality-container">
  <%= link_to 'Re-run', dev_run_rails_best_practices_html_report_path, class: 'code-quality-button' %>
  <iframe height="100%" id="rails_best_practices-html-report" name="<%= Time.now %>" src="/reports/rails_best_practices.html" width="100%"></iframe>
</div>