<div class="code-quality-container">
  <%= link_to 'Re-run', dev_run_rubocop_html_report_path, class: 'code-quality-button' %>
  <iframe height="100%" id="rubocop-html-report" name="<%= Time.now %>" src="/reports/rubocop.html" width="100%"></iframe>
</div>
