<!DOCTYPE html>
<html>
<head>
  <title>Pc rails code quality</title>
  <%= stylesheet_link_tag    "pc_rails_code_quality/application", media: "all" %>
  <%= javascript_include_tag "pc_rails_code_quality/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
